<div class="align-content-center">
    <h1>Contact YuQar Group</h1>
    <form class="form-control">
        <div class="col-md-12">
            <div class="col-md-5 required">
                <label class="label form-control-label"> <strong>Name and Surname</strong></label>
            </div>
            <div class="col-md-7 required">
                <input type="search" required>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-5 required">
                <label class="label form-control-label"> <strong>Email</strong></label>
            </div>
            <div class="col-md-7 required">
                <input type="email" required>
            </div>
        </div>

    </form>

</div>
