<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myContactLabel" jhiTranslate="yuQarGroupApp.contact.home.createOrEditLabel">Create or edit a Contact</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!contact.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="contact.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="yuQarGroupApp.contact.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="contact.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="yuQarGroupApp.contact.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="contact.email" required />
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="yuQarGroupApp.contact.contact" for="field_contact">Contact</label>
            <input type="text" class="form-control" name="contact" id="field_contact"
                [(ngModel)]="contact.contact" required />
            <div [hidden]="!(editForm.controls.contact?.dirty && editForm.controls.contact?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.contact?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="yuQarGroupApp.contact.message" for="field_message">Message</label>
            <input type="text" class="form-control" name="message" id="field_message"
                [(ngModel)]="contact.message" required />
            <div [hidden]="!(editForm.controls.message?.dirty && editForm.controls.message?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.message?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="yuQarGroupApp.contact.created_date" for="field_created_date">Created Date</label>
            <div class="input-group">
                <input id="field_created_date" type="text" class="form-control" name="created_date" ngbDatepicker  #created_dateDp="ngbDatepicker" [(ngModel)]="contact.created_date"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="created_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.created_date?.dirty && editForm.controls.created_date?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.created_date?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="yuQarGroupApp.contact.opened" for="field_opened">Opened</label>
            <input type="checkbox" class="form-control" name="opened" id="field_opened"
                [(ngModel)]="contact.opened"  />
            <div [hidden]="!(editForm.controls.opened?.dirty && editForm.controls.opened?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.opened?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
